snippet pprint "import ppring" !b
from pprint import pprint
pprint(${0})
endsnippet

snippet cl "cl" !b
print(${0})
endsnippet

snippet tag "surround with a tag"
[${1}]${2:${VISUAL}}[/$1]
endsnippet

snippet b "surrond with [b] tag" !b
[b]${1:${VISUAL}}[/b]
endsnippet
